*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
  --primary-color: #151515;
  --default-font-family: "Space Grotesk", sans-serif;
    /* color:white; */
    --icon-hover: #6f42c1;
    list-style-type: none;
    color:white;
    --border-color: rgb(164, 152, 233);
}


body{
  background-color: var(--primary-color);
  font-family: var(--default-font-family);
}

.container{
  display:block;
}

.heroname,.skills-bar{
  border-bottom:4px solid #4EE1A0;
}

.headercontainer{
  margin: 2.2rem 8rem;
  display: flex;
  flex-flow:row;
  justify-content: space-around;
  align-items: center;
 
}

.headercontainer>p{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.headericon{
  font-size: 1.3rem;
}

.nav-icon{
  margin-left:2.5rem;
}

.herocontainer{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.skills-bar{
 margin:0rem 8rem;
 border-top: 2px solid white;
 border-bottom: 2px solid white;

}

.skillheader{
  padding-top:2rem;
  font-size: 2.6rem;
  border-bottom: 4px solid #34cffe;
  display:inline-block;
}


.skillsrow{
  padding:4rem 0rem 1rem;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #11432d;
  
}

.skill-icon{
  margin-bottom: 2rem !important;
  width:25%;
  background-color: #6f42c1;
}



.languagename{
  text-align: center !important;
}

.icon{
  color:#34cffe;
  font-size: 80px;
  filter: drop-shadow(6px 6px 10px rgba(69, 92, 23, 0.2));
}


.icon:hover{
  color:#aaeaf4;
  opacity: 0.4;
}
.projectscontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectcards{
  display:flex;
  flex-flow: column ;
}

.project-singular-cointainer{
  border:1px dotted white;
  height:75px;
  width: 75px;
}

.inputbox ::after,::before{

}

#nameInput:valid{
border: 2px solid green; 
}

.inputbox:hover{
  /* transition: */
}


input{
  color:black;
}

.textarea {
  color: black;
}

